<div class="index-content">
    <div class="search">
        <form method="post">
            <input type="text" placeholder="Поиск по названию или артикулу..." name="search">
            <span class="btn-submit icon icon-zoom">
                <input type="submit">
            </span>
        </form>
    </div>
 <div class="main-banner main-banner_index">
    <div class="wrap">
        <div class="main-banner__slider">
            <div class="slider-container">
                <div class="slider-item prlx-item">
                    <a href="">
                        <img class="bg" src="#{paths.tmpimg}/banner-mobile2.png" alt=""/>
                        <div class="banner-desc__holder">
                            <div class="banner-desc">
                                <img  class="logo" src="#{paths.tmpimg}/banner-logo.png" alt=""/>
                                <div class="banner-text">
                                    <p>
                                        НОВИНКИ КОМПАНИИ
                                    </p>
                                    <p>
                                        GRAZIELLA  итальянская компания моды была основана в 1958 г. при инициативе Грациеллы Буонкомпани, нынешнего почетного президента компании. В юношеском возрасте она основала небольшую мастерскую, где начала изготовление оригинальных ювелирных изделий из золота.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="slider-item prlx-item">
                    <a href="">
                        <img class="bg" src="#{paths.tmpimg}/banner-mobile2.png" alt=""/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--moscow-->
    <div class="advantages" style="display: none;">
        <div class="table-row">
            <div class="advantages__item">
                <div class="advantages__item-row">
                    <i class="icon icon-car"></i>
                    <span class="advantages__text">
                        Возможность доставки
                        по Москве в день заказа
                    </span>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-row">
                    <i class="icon icon-boxes"></i>
                    <span class="advantages__text">
                        100% наличие  всего ассортимента
                    </span>
                </div>
            </div>
        </div>
        <div class="table-row">
            <div class="advantages__item">
                <div class="advantages__item-row">
                    <i class="icon icon-ring"></i>
                    <span class="advantages__text">
                       Доставка нескольких
                        изделий на выбор
                    </span>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-row">
                    <i class="icon icon-card"></i>
                    <span class="advantages__text">
                       Оплата банковской  картой при получении
                    </span>
                </div>
            </div>
        </div>
    </div>

<!--regions-->
    <div class="advantages">
        <div class="table-row">
            <div class="advantages__item">
                <div class="advantages__item-row">
                <i class="icon icon-car"></i>
                <span class="advantages__text">
                    Быстрая доставка
                    по всей России
                </span>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-row">
                <i class="icon icon-wallet"></i>
                <span class="advantages__text">
                   Принимаем возврат,
                    возвращаем деньги
                </span>
                </div>
            </div>
        </div>
        <div class="table-row">
            <div class="advantages__item">
                <div class="advantages__item-row">
                <i class="icon icon-boxes"></i>
                <span class="advantages__text">
                    100% наличие  всего ассортимента
                </span>
                </div>
            </div>
            <div class="advantages__item">
                <div class="advantages__item-row">
                <i class="icon icon-pay"></i>
                <span class="advantages__text">
                   Можно оплатить  при получении
                </span>
                </div>
            </div>
        </div>
    </div>

    <div class="banners-squares wrap" style="">
        <div class="block ">
            <a href="http://fidelis-style.ru/popular_categ/sergi-v-style-dior.html" class="block__link"></a>
            <img class="block__bg block__bg-stretch" src="#{paths.tmpimg}/square3x2.jpg" alt=""/>
            <img class="block__bg block__bg" src="#{paths.tmpimg}/square3x2.jpg" alt=""/>
            <div class="block__text-wrap">
                <div class="block__text text_big" style="top: 10px;left:10px">
                    <span class="title">Фианитовая коллекция</span>
                    <div class="text">GRAZIELLA  итальянская компания моды была основана в 1958 г. при инициативе Грациеллы Буонкомпани, нынешнего почетного президента компании. В юношеском возрасте она основала небольшую мастерскую, где начала изготовление оригинальных ювелирных изделий из золота.</div>
                </div>
            </div>
        </div>
        <div class="block">
            <a href="http://fidelis-style.ru/popular_categ/sergi-v-style-dior.html" class="block__link"></a>
            <img class="block__bg-strech" src="#{paths.tmpimg}/square1x2.jpg" alt=""/>
            <img class="block__bg" src="#{paths.tmpimg}/square1x2.jpg" alt=""/>
            <div class="block__text-wrap">
                <div class="block__text" style="top: 10px;left:10px">
                    <span class="title">браслеты на ногу</span>
                </div>
            </div>
        </div>
        <!--<div class="block col1 row2 l1 t1">
            <img class="block__bg" src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/square.jpg" alt=""/>
        </div>
        <div class="block col3 row1 l2 t1">
            <img class="block__bg" src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/square3x1.jpg" alt=""/>
            <div class="block__text-wrap">
                <div class="block__text">
                    <span class="title">Широкие браслеты</span>
                    <div class="text">GRAZIELLA  итальянская компания моды была основана в 1958 г. при инициативе Грациеллы Буонкомпани, нынешнего почетного президента компании. В юношеском возрасте она основала небольшую мастерскую, где начала изготовление оригинальных ювелирных изделий из золота.</div>
                </div>
            </div>
        </div>-->
        <!--<div class="block col1 row1 l1 t2">
            <img class="block__bg" src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/square.jpg" alt=""/>
        </div>
        <div class="block col1 row1 l2 t2">
            <img class="block__bg" src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/square.jpg" alt=""/>
        </div>
        <div class="block col1 row1 l3 t2">
            <img class="block__bg" src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/square.jpg" alt=""/>
        </div>
        <div class="block col1 row1 l4 t2">
            <img class="block__bg" src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/square.jpg" alt=""/>
        </div>-->

    </div>

    <div class="subscribe subscribe_main">
        <div class="wrap">
            <span class="title">Подпишись на обновления</span>
            <div class="title2">И узнай раньше всех о распродажах скидках и уникальных промокодах</div>
            <div class="subscribe__body">
                <form class="subscribe__form" action="">
                    <div class="row">
                        <input class="inputtext" type="email" name="email" placeholder="Ваш email"/>
                    </div>
                    <span class="row row__div">
                        или
                    </span>
                    <div class="row">
                        <input class="inputtext phone-mask"  type="text" name="text" placeholder="+7 (___) ___-__-__"/>
                    </div>
                    <a class="btn btn_black btn-submit" href="#">
                        ПОДПИСАТЬСЯ
                        <input type="submit"/>
                    </a>
                </form>
            </div>
        </div>
    </div>

    <div class="itemlist itemlist_catalog itemlist_popular">
        <div class="wrap">
            <span class="title">Популярные изделия</span>
            <div class="itemlist-slider">
                <div class="slider-container">
                    <div class="slider-item">
                        <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
                            <div class="item-inner">
                                <span class="info-lbl"><span>30%</span></span>
                                <div class="item-preview">
                                    <div class="item-preview__slider">
                                        <div class="slider-contaniner">
                                            <div class="slider-item">
                                                <a href="#">
                                                    <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
                                </div>
                                <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
                                <div class="cost">
                                    <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
                                </div>
                                <div class="buttons">
                                    <a href="#" class="btn js-buy" data-item="3">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
                            <div class="item-inner">
                                <span class="info-lbl"><span>30%</span></span>
                                <div class="item-preview">
                                    <div class="item-preview__slider">
                                        <div class="slider-contaniner">
                                            <div class="slider-item">
                                                <a href="#">
                                                    <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
                                </div>
                                <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
                                <div class="cost">
                                    <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
                                </div>
                                <div class="buttons">
                                    <a href="#" class="btn js-buy" data-item="3">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
                            <div class="item-inner">
                                <span class="info-lbl"><span>30%</span></span>
                                <div class="item-preview">
                                    <div class="item-preview__slider">
                                        <div class="slider-contaniner">
                                            <div class="slider-item">
                                                <a href="#">
                                                    <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
                                </div>
                                <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
                                <div class="cost">
                                    <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
                                </div>
                                <div class="buttons">
                                    <a href="#" class="btn js-buy" data-item="3">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
                            <div class="item-inner">
                                <span class="info-lbl"><span>30%</span></span>
                                <div class="item-preview">
                                    <div class="item-preview__slider">
                                        <div class="slider-contaniner">
                                            <div class="slider-item">
                                                <a href="#">
                                                    <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
                                </div>
                                <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
                                <div class="cost">
                                    <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
                                </div>
                                <div class="buttons">
                                    <a href="#" class="btn js-buy" data-item="3">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="slider-item">
                        <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
                            <div class="item-inner">
                                <span class="info-lbl"><span>30%</span></span>
                                <div class="item-preview">
                                    <div class="item-preview__slider">
                                        <div class="slider-contaniner">
                                            <div class="slider-item">
                                                <a href="#">
                                                    <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
                                </div>
                                <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
                                <div class="cost">
                                    <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
                                </div>
                                <div class="buttons">
                                    <a href="#" class="btn js-buy" data-item="3">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
                            <div class="item-inner">
                                <span class="info-lbl"><span>30%</span></span>
                                <div class="item-preview">
                                    <div class="item-preview__slider">
                                        <div class="slider-contaniner">
                                            <div class="slider-item">
                                                <a href="#">
                                                    <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
                                </div>
                                <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
                                <div class="cost">
                                    <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
                                </div>
                                <div class="buttons">
                                    <a href="#" class="btn js-buy" data-item="3">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
                            <div class="item-inner">
                                <span class="info-lbl"><span>30%</span></span>
                                <div class="item-preview">
                                    <div class="item-preview__slider">
                                        <div class="slider-contaniner">
                                            <div class="slider-item">
                                                <a href="#">
                                                    <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
                                </div>
                                <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
                                <div class="cost">
                                    <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
                                </div>
                                <div class="buttons">
                                    <a href="#" class="btn js-buy" data-item="3">Купить</a>
                                </div>
                            </div>
                        </div>
                        <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
                            <div class="item-inner">
                                <span class="info-lbl"><span>30%</span></span>
                                <div class="item-preview">
                                    <div class="item-preview__slider">
                                        <div class="slider-contaniner">
                                            <div class="slider-item">
                                                <a href="#">
                                                    <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="description">
                                    <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
                                </div>
                                <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
                                <div class="cost">
                                    <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
                                </div>
                                <div class="buttons">
                                    <a href="#" class="btn js-buy" data-item="3">Купить</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="catdes catdes_catalog">
    <div class="wrap">
        <span class="title">GRAZIELLA </span>
        <p>Таким образом, сочетая итальянский вкус и мастерство отделки, рождается безупречный результат: каждое ювелирное изделие превращается в маленькое произведение искусства.</p>

        <p>Креативный Центр со временем создал новые направления предметов роскоши, которые были добавлены к исходной коллекции украшений из золота и серебра. В частности, линия бриллианты Graziella предлагает ювелирные изделия из золота, серебра, бриллиантов и драгоценных камней. Линия аксессуаров GRAZIELLA включает сумки и ремни, изготовленные из высококачественной кожи, обогащенные деталями из золота и серебра, а также драгоценных камней. Детали из драгоценных металлов изготовлены с использованием тех же креативных концепций что и ювелирные изделия, для создания совершенной координации с аксессуарами. Такой подход позволяет GRAZIELLA предложить своим потребителям ювелирные скульптуры и аксессуары.</p>

        <p>Отличное сочетание творчества и технологии. Обещания GRAZIELLA своим клиентам проявляются в скульптурных формах ювелирных изделий, их стиль настолько уникален, что некоторые идентифицируют его как “современное барокко”. Темы разрабатываются в зависимости от рынка, размер и формы адаптируются к стране назначения. В арабских странах предпочитают драгоценности больших форм, в соответствии с эстетическими канонами. В других странах изделия GRAZIELLA с использованием тех же креативных тематик становятся меньше в размере, и порой могут быть обогащены драгоценными камнями. Общие черты лежат в типе изделий, которые легко идентифицируются по своему стилю и точным деталям, а также легкостью.</p>
    </div>
</div>
include $includespath/catalog/size.html