.index-content
  .search
    form(method='post')
      input(type='text', placeholder='Поиск по названию или артикулу...', name='search')
      span.btn-submit.icon.icon-zoom
        input(type='submit')
  .main-banner.main-banner_index
    .wrap
      .main-banner__slider
        .slider-container
          .slider-item.prlx-item
            a(href='')
              img.bg(src='#{paths.tmpimg}/banner-mobile2.png', alt='')
              .banner-desc__holder
                .banner-desc
                  img.logo(src='#{paths.tmpimg}/banner-logo.png', alt='')
                  .banner-text
                    p
                      | НОВИНКИ КОМПАНИИ
                    p
                      | GRAZIELLA  итальянская компания моды была основана в 1958 г. при инициативе Грациеллы Буонкомпани, нынешнего почетного президента компании. В юношеском возрасте она основала небольшую мастерскую, где начала изготовление оригинальных ювелирных изделий из золота.
          .slider-item.prlx-item
            a(href='')
              img.bg(src='#{paths.tmpimg}/banner-mobile2.png', alt='')
  // moscow
  .advantages(style='display: none;')
    .table-row
      .advantages__item
        .advantages__item-row
          i.icon.icon-car
          span.advantages__text
            | Возможность доставки
            | по Москве в день заказа
      .advantages__item
        .advantages__item-row
          i.icon.icon-boxes
          span.advantages__text
            | 100% наличие  всего ассортимента
    .table-row
      .advantages__item
        .advantages__item-row
          i.icon.icon-ring
          span.advantages__text
            | Доставка нескольких
            | изделий на выбор
      .advantages__item
        .advantages__item-row
          i.icon.icon-card
          span.advantages__text
            | Оплата банковской  картой при получении
  // regions
  .advantages
    .table-row
      .advantages__item
        .advantages__item-row
          i.icon.icon-car
          span.advantages__text
            | Быстрая доставка
            | по всей России
      .advantages__item
        .advantages__item-row
          i.icon.icon-wallet
          span.advantages__text
            | Принимаем возврат,
            | возвращаем деньги
    .table-row
      .advantages__item
        .advantages__item-row
          i.icon.icon-boxes
          span.advantages__text
            | 100% наличие  всего ассортимента
      .advantages__item
        .advantages__item-row
          i.icon.icon-pay
          span.advantages__text
            | Можно оплатить  при получении
  .banners-squares.wrap(style='')
    .block
      a.block__link(href='http://fidelis-style.ru/popular_categ/sergi-v-style-dior.html')
        .block__text-wrap
          .block__text(style='margin: 20px 10px 10px')
            span.title Фианитовая коллекция
            .text
              | GRAZIELLA  итальянская компания моды была основана в 1958 г. при инициативе Грациеллы Буонкомпани, нынешнего почетного президента компании. В юношеском возрасте она основала небольшую мастерскую, где начала изготовление оригинальных ювелирных изделий из золота.
      img.block__bg.block__bg(src='#{paths.tmpimg}/nature-700.jpg', alt='')
    .block
      a.block__link(href='http://fidelis-style.ru/popular_categ/sergi-v-style-dior.html')
        .block__text-wrap
          .block__text(style='margin: 20px 10px 10px')
            span.title браслеты на ногу
      img.block__bg(src='#{paths.tmpimg}/nature-700.jpg', alt='')
      
  .subscribe.subscribe_main
    .wrap
      span.title Подпишись на обновления
      .title2 И узнай раньше всех о распродажах скидках и уникальных промокодах
      .subscribe__body
        form.subscribe__form(action='')
          .row
            input.inputtext(type='email', name='email', placeholder='Ваш email')
          span.row.row__div
            | или
          .row
            input.inputtext.phone-mask(type='text', name='text', placeholder='+7 (___) ___-__-__')
          a.btn.btn_black.btn-submit(href='#')
            | ПОДПИСАТЬСЯ
            input(type='submit')
  .itemlist.itemlist_catalog.itemlist_popular
    .wrap
      span.title Популярные изделия
      .itemlist-slider
        .slider-container
          .slider-item
            +catalogItem(['{26: 22000},{27: 33333}'], {isNew: false}, 2, true)
            +catalogItem(['{21: 22222},{22: 33333}'], {}, 1)
            +catalogItem([], {isNew: true}, 3, true)
            +catalogItem([], {}, 1, true)
          .slider-item
            +catalogItem(['{26: 22000},{27: 33333}'], {isNew: false}, 2, true)
            +catalogItem(['{21: 22222},{22: 33333}'], {}, 1)
            +catalogItem([], {isNew: true}, 3, true)
            +catalogItem([], {}, 1, true)
.catdes.catdes_catalog
  .wrap
    span.title GRAZIELLA 
    p
      | Таким образом, сочетая итальянский вкус и мастерство отделки, рождается безупречный результат: каждое ювелирное изделие превращается в маленькое произведение искусства.
    p
      | Креативный Центр со временем создал новые направления предметов роскоши, которые были добавлены к исходной коллекции украшений из золота и серебра. В частности, линия бриллианты Graziella предлагает ювелирные изделия из золота, серебра, бриллиантов и драгоценных камней. Линия аксессуаров GRAZIELLA включает сумки и ремни, изготовленные из высококачественной кожи, обогащенные деталями из золота и серебра, а также драгоценных камней. Детали из драгоценных металлов изготовлены с использованием тех же креативных концепций что и ювелирные изделия, для создания совершенной координации с аксессуарами. Такой подход позволяет GRAZIELLA предложить своим потребителям ювелирные скульптуры и аксессуары.
    p
      | Отличное сочетание творчества и технологии. Обещания GRAZIELLA своим клиентам проявляются в скульптурных формах ювелирных изделий, их стиль настолько уникален, что некоторые идентифицируют его как “современное барокко”. Темы разрабатываются в зависимости от рынка, размер и формы адаптируются к стране назначения. В арабских странах предпочитают драгоценности больших форм, в соответствии с эстетическими канонами. В других странах изделия GRAZIELLA с использованием тех же креативных тематик становятся меньше в размере, и порой могут быть обогащены драгоценными камнями. Общие черты лежат в типе изделий, которые легко идентифицируются по своему стилю и точным деталям, а также легкостью.
