- var assetsPath = '../assets'
- var paths = { js : assetsPath + '/js',  css : assetsPath + "/css", inc : '../includes/', img : assetsPath + "/images", tmpimg: assetsPath + "/images/tmp"  }

mixin catalogItem(sizes, lbl, numImg, isOldCost, title)
  - var  _id = Math.round(Math.random()*100000)
  - var nImg = 0
  - var itemTitle = title || 'Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль'
  
  .item.js-item-data(data-item='{id: #{_id},sizes: [#{sizes}]}')
    .item-inner
      if lbl
        if lbl.isNew
          span(class="info-lbl info-lbl__orange")
            span Новинка
        else
          span.info-lbl
            span 30%
          
      .item-preview
        if page == 'customer'
          a.icon-x.js-fav-delete(href='#play')
        else
          a.favorite-link.icon(href='javascript:void(0)', onclick="$(this).toggleClass('added')")
        .item-preview__slider
          .slider-contaniner
            while nImg < numImg
              .slider-item
                a(href='#')
                  img(src='#{paths.tmpimg}/item#{++nImg}.jpg', alt='')
        if device == '__d'
          a.play(href='#play')
          .item-preview__video
            video(loop='loop', preload='none')
              source(src='http://cdn.names.ru/upload/video_1c/v032504.webm', type='video/webm')
              source(src='http://cdn.names.ru/upload/video_1c/v032504.mp4', type='video/mp4')
      .description
        a(href='item.html')= itemTitle
      if isOldCost
        .old-cost
          span.dec старая цена: 
          | 46400.00
          span.rub
            span руб
      .cost
        span.dec Цена: 
        | 46400.00
        span.rub
          span руб
      .buttons
        a.btn.js-buy(href='#', data-item='#{_id}') Купить
  
