.itemlist.itemlist_catalog
  .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
    .item-inner
      span.info-lbl
        span 30%
      .item-preview
        if page == 'customer'
          a.icon-x.js-fav-delete(href='#play')
        .item-preview__slider
          .slider-container
            .slider-item
              a(href='#')
                img(src='#{paths.tmpimg}/item.jpg', alt='')
            .slider-item
              a(href='#')
                img(src='#{paths.tmpimg}/item2.jpg', alt='')
      .description
        a(href='/item/M0000047742.html')
          | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
      .old-cost
        span.dec старая цена: 
        | 46400.00
        span.rub
          span руб
      .cost
        span.dec Цена: 
        | 46400.00
        span.rub
          span руб
      .buttons
        a.btn.js-buy(href='#', data-item='3') Купить
  .item.js-item-data(data-item="{'id': 222,sizes: [{22: 12000},{20: 333}]}")
    .item-inner
      .item-preview
        if page == 'customer'
          a.icon-x.js-fav-delete(href='#play')
        .item-preview__slider
          .slider-contaniner
            .slider-item
              a(href='#')
                img(src='#{paths.tmpimg}/item2.jpg', alt='')
      .description
        a(href='/item/M0000047742.html')
          | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
      .old-cost
        span.dec старая цена: 
        | 46400.00
        span.rub
          span руб
      .cost
        span.dec Цена: 
        | 46400.00
        span.rub
          span руб
      .buttons
        a.btn.js-buy(href='#', data-item='M0000047742') Купить
  .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
    .item-inner
      span.info-lbl
        span 30%
      .item-preview
        if page == 'customer'
          a.icon-x.js-fav-delete(href='#play')
        .item-preview__slider
          .slider-contaniner
            .slider-item
              a(href='#')
                img(src='#{paths.tmpimg}/item.jpg', alt='')
      .description
        a(href='/item/M0000047742.html')
          | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
      .old-cost
        span.dec старая цена: 
        | 46400.00
        span.rub
          span руб
      .cost
        span.dec Цена: 
        | 46400.00
        span.rub
          span руб
      .buttons
        a.btn.js-buy(href='#', data-item='3') Купить
  .item.js-item-data(data-item="{'id': 222,sizes: [{22: 12000},{20: 333}]}")
    .item-inner
      .item-preview
        if page == 'customer'
          a.icon-x.js-fav-delete(href='#play')
        .item-preview__slider
          .slider-contaniner
            .slider-item
              a(href='#')
                img(src='#{paths.tmpimg}/item2.jpg', alt='')
      .description
        a(href='/item/M0000047742.html')
          | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
      .cost
        span.dec Цена: 
        | 46400.00
        span.rub
          span руб
      .buttons
        a.btn.js-buy(href='#', data-item='M0000047742') Купить
  .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
    .item-inner
      .item-preview
        if page == 'customer'
          a.icon-x.js-fav-delete(href='#play')
        .item-preview__slider
          .slider-contaniner
            .slider-item
              a(href='#')
                img(src='#{paths.tmpimg}/item.jpg', alt='')
      .description
        a(href='/item/M0000047742.html')
          | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
      .old-cost
        span.dec старая цена: 
        | 46400.00
        span.rub
          span руб
      .cost
        span.dec Цена: 
        | 46400.00
        span.rub
          span руб
      .buttons
        a.btn.js-buy(href='#', data-item='M0000047742') Купить
  .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
    .item-inner
      span.info-lbl.info-lbl__orange
        span новинка
      .item-preview
        if page == 'customer'
          a.icon-x.js-fav-delete(href='#play')
        .item-preview__slider
          .slider-contaniner
            .slider-item
              a(href='#')
                img(src='#{paths.tmpimg}/item.jpg', alt='')
      .description
        a(href='/item/M0000047742.html')
          | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
      .old-cost
        span.dec старая цена: 
        | 46400.00
        span.rub
          span руб
      .cost
        span.dec Цена: 
        | 46400.00
        span.rub
          span руб
      .buttons
        a.btn.js-buy(href='#', data-item='M0000047742') Купить
