<div class="itemlist itemlist_catalog">
    <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
        <div class="item-inner">
            <span class="info-lbl"><span>30%</span></span>
            <div class="item-preview">
                <!--#if expr="$page = customer" -->
                <a class="icon-x js-fav-delete" href="#play"></a>
                <!--#endif -->
                <div class="item-preview__slider">
                    <div class="slider-container">
                        <div class="slider-item">
                            <a href="#">
                                <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                            </a>
                        </div>
                        <div class="slider-item">
                            <a href="#">
                                <img src="#{paths.tmpimg}/item2.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
            </div>
            <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
            <div class="cost">
                <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
            </div>
            <div class="buttons">
                <a href="#" class="btn js-buy" data-item="3">Купить</a>
            </div>
        </div>
    </div>
    <div class="item js-item-data" data-item="{'id': 222,sizes: [{22: 12000},{20: 333}]}">
        <div class="item-inner">

            <div class="item-preview">
                <!--#if expr="$page = customer" -->
                <a class="icon-x js-fav-delete" href="#play"></a>
                <!--#endif -->
                <div class="item-preview__slider">
                    <div class="slider-contaniner">
                        <div class="slider-item">
                            <a href="#">
                                <img src="#{paths.tmpimg}/item2.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
            </div>
            <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
            <div class="cost">
                <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
            </div>
            <div class="buttons">
                <a href="#" class="btn js-buy" data-item="M0000047742">Купить</a>
            </div>
        </div>
    </div>
    <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
        <div class="item-inner">
            <span class="info-lbl"><span>30%</span></span>
            <div class="item-preview">
                <!--#if expr="$page = customer" -->
                <a class="icon-x js-fav-delete" href="#play"></a>
                <!--#endif -->
                <div class="item-preview__slider">
                    <div class="slider-contaniner">
                        <div class="slider-item">
                            <a href="#">
                                <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
            </div>
            <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
            <div class="cost">
                <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
            </div>
            <div class="buttons">
                <a href="#" class="btn js-buy" data-item="3">Купить</a>
            </div>
        </div>
    </div>
    <div class="item js-item-data" data-item="{'id': 222,sizes: [{22: 12000},{20: 333}]}">
        <div class="item-inner">

            <div class="item-preview">
                <!--#if expr="$page = customer" -->
                <a class="icon-x js-fav-delete" href="#play"></a>
                <!--#endif -->
                <div class="item-preview__slider">
                    <div class="slider-contaniner">
                        <div class="slider-item">
                            <a href="#">
                                <img src="#{paths.tmpimg}/item2.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
            </div>
            <div class="cost">
                <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
            </div>
            <div class="buttons">
                <a href="#" class="btn js-buy" data-item="M0000047742">Купить</a>
            </div>
        </div>
    </div>

    <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
        <div class="item-inner">
            <div class="item-preview">
                <!--#if expr="$page = customer" -->
                <a class="icon-x js-fav-delete" href="#play"></a>
                <!--#endif -->
                <div class="item-preview__slider">
                    <div class="slider-contaniner">
                        <div class="slider-item">
                            <a href="#">
                                <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
            </div>
            <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
            <div class="cost">
                <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
            </div>
            <div class="buttons">
                <a href="#" class="btn js-buy" data-item="M0000047742">Купить</a>
            </div>
        </div>

    </div>
    <div class="item js-item-data" data-item="{id: 1231,sizes: [{26: 22000},{27: 33333}]}">
        <div class="item-inner">
            <span class="info-lbl info-lbl__orange"><span>новинка</span></span>
            <div class="item-preview">
                <!--#if expr="$page = customer" -->
                <a class="icon-x js-fav-delete" href="#play"></a>
                <!--#endif -->
                <div class="item-preview__slider">
                    <div class="slider-contaniner">
                        <div class="slider-item">
                            <a href="#">
                                <img src="#{paths.tmpimg}/item.jpg" alt=""/>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="description">
                <a href="/item/M0000047742.html"> Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль</a>
            </div>
            <div class="old-cost">&nbsp;<span class="dec">старая цена: </span>46400.00<span class="rub"><span>руб</span></span>&nbsp;</div>
            <div class="cost">
                <span class="dec">Цена: </span>46400.00<span class="rub"><span>руб</span></span>
            </div>
            <div class="buttons">
                <a href="#" class="btn js-buy" data-item="M0000047742">Купить</a>
            </div>
        </div>
    </div>
</div>