.content.wrap
  .catalogue.catalogue-search
    .search__info
      span.search__target
        | Кулон-подвеска от компании Graziella, модель Rosa12 из серебра с желтой позолотой с эмалью
      span.search__found найдено 124 товара
    .container
      .left
        .goods-filter.folding
          .goods-filter__title.folding__title
            i.icon.icon-filter
            |                     ФИЛЬТР
          .folding__wrap
            .folding__inner
              .goods-filter__list
                label.goods-filter__item.btn-select(for='good-brand')
                  | БРЕНД
                  select#good-brand.no-styler(name='brand', multiple='')
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                label.goods-filter__item.btn-select(for='good-type')
                  | ТИП ИЗДЕЛИЯ
                  select#good-type.no-styler(name='type', multiple='')
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                label.goods-filter__item.btn-select(for='good-style')
                  | СТИЛЬ
                  select#good-style.no-styler(name='style', multiple='')
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                label.goods-filter__item.btn-select(for='good-collection')
                  | КОЛЛЕКЦИЯ
                  select#good-collection.no-styler(name='collection', multiple='')
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                label.goods-filter__item.btn-select(for='good-metal')
                  | МЕТАЛЛ
                  select#good-metal.no-styler(name='metal', multiple='')
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                label.goods-filter__item.btn-select(for='good-surface')
                  | ПОКРЫТИЕ
                  select#good-surface.no-styler(name='surface', multiple='')
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                label.goods-filter__item.btn-select(for='good-insert')
                  | ВСТАВКА
                  select#good-insert.no-styler(name='insert', multiple='')
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                    option(value='') Graziella
                    option(value='') Dea
                label.goods-filter__item.btn-select(for='good-size')
                  | РАЗМЕР
                  select#good-size.no-styler(name='size', multiple='')
                    option(value='') 24
                    option(value='') 25
                    option(value='') 26
                    option(value='') 27
                .goods-filter__price
                  label(for='price-from') От
                  input#price-from.inputtext(type='number', placeholder='0')
                  label(for='price-to') до
                  input#price-to.inputtext(type='number', placeholder='9999')
                  span.rub
                    span руб
              .goods-filter__choosen
                .goods-filter__choosen-title
                  | ВЫ ВЫБРАЛИ:
                .goods-filter__choosen-list
                  .filter_item(data-filter='collection', data-value='30') Graziella
                  .filter_item(data-filter='collection', data-value='30') Graziella
                  .filter_item(data-filter='collection', data-value='30') Graziella
                  .filter_item(data-filter='collection', data-value='30') Graziella
                  .filter_item(data-filter='collection', data-value='30') Graziella
                a.btn.btn_black.js-apply-filter(href='#')
                  | ПРИМЕНИТЬ
              a.icon.icon-x.js-close-filter(href='#')
      .right
        .line-filter
          .itemsfilter
            label.btn-select.setcatcount
              span.btn-select__label
                | Показать по: 
                span.select-value 12
              select
                option(selected='', value='12') 12
                option(value='24') 24
                option(value='36') 36
                option(value='all') Все
            label.btn-select.setcatorder
              span.btn-select__label
                | Сортировать  по: 
                span.select-value умолчанию
              select
                option(value='casc') По возрастанию цены
                option(value='cdesc') По убыванию цены
                option(value='default') По умолчанию
                option(value='pop') По популярности
                option(selected='', value='new') По новизне
          .pageswitch
            a.arrow.arrow-prev.icon-drop.icon-drop__left(href='#')
            a.active(href='/cat/type/13/1.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 1
            a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 2
            a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 3
            a(href='/cat/type/13/2.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 4
            span . . .
            a(href='/cat/type/13/5.html?items_sort_order=new&items_per_page=12&brand=7&type=13') 224
            a.arrow.arrow-next.icon-drop.icon-drop__right(href='#')
        .itemlist.itemlist_catalog
          .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
            .item-inner
              span.info-lbl
                span 30%
              .item-preview
                .item-preview__slider
                  .slider-contaniner
                    .slider-item
                      a(href='#')
                        img(src='#{paths.tmpimg}/item.jpg', alt='')
              .description
                a(href='/item/M0000047742.html')
                  | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
              .old-cost
                span.dec старая цена: 
                | 46400.00
                span.rub
                  span руб
              .cost
                span.dec Цена: 
                | 46400.00
                span.rub
                  span руб
              .buttons
                a.btn.js-buy(href='#', data-item='3') Купить
          .item.js-item-data(data-item="{'id': 222,sizes: [{22: 12000},{20: 333}]}")
            .item-inner
              .item-preview
                .item-preview__slider
                  .slider-contaniner
                    .slider-item
                      a(href='#')
                        img(src='#{paths.tmpimg}/item2.jpg', alt='')
              .description
                a(href='/item/M0000047742.html')
                  | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
              .old-cost
                span.dec старая цена: 
                | 46400.00
                span.rub
                  span руб
              .cost
                span.dec Цена: 
                | 46400.00
                span.rub
                  span руб
              .buttons
                a.btn.js-buy(href='#', data-item='M0000047742') Купить
          .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
            .item-inner
              span.info-lbl
                span 30%
              .item-preview
                .item-preview__slider
                  .slider-contaniner
                    .slider-item
                      a(href='#')
                        img(src='#{paths.tmpimg}/item.jpg', alt='')
              .description
                a(href='/item/M0000047742.html')
                  | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
              .old-cost
                span.dec старая цена: 
                | 46400.00
                span.rub
                  span руб
              .cost
                span.dec Цена: 
                | 46400.00
                span.rub
                  span руб
              .buttons
                a.btn.js-buy(href='#', data-item='3') Купить
          .item.js-item-data(data-item="{'id': 222,sizes: [{22: 12000},{20: 333}]}")
            .item-inner
              .item-preview
                .item-preview__slider
                  .slider-contaniner
                    .slider-item
                      a(href='#')
                        img(src='#{paths.tmpimg}/item2.jpg', alt='')
              .description
                a(href='/item/M0000047742.html')
                  | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
              .cost
                span.dec Цена: 
                | 46400.00
                span.rub
                  span руб
              .buttons
                a.btn.js-buy(href='#', data-item='M0000047742') Купить
          .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
            .item-inner
              .item-preview
                .item-preview__slider
                  .slider-contaniner
                    .slider-item
                      a(href='#')
                        img(src='#{paths.tmpimg}/item.jpg', alt='')
              .description
                a(href='/item/M0000047742.html')
                  | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
              .old-cost
                span.dec старая цена: 
                | 46400.00
                span.rub
                  span руб
              .cost
                span.dec Цена: 
                | 46400.00
                span.rub
                  span руб
              .buttons
                a.btn.js-buy(href='#', data-item='M0000047742') Купить
          .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
            .item-inner
              span.info-lbl.info-lbl__orange
                span новинка
              .item-preview
                .item-preview__slider
                  .slider-contaniner
                    .slider-item
                      a(href='#')
                        img(src='#{paths.tmpimg}/item.jpg', alt='')
              .description
                a(href='/item/M0000047742.html')
                  | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
              .old-cost
                span.dec старая цена: 
                | 46400.00
                span.rub
                  span руб
              .cost
                span.dec Цена: 
                | 46400.00
                span.rub
                  span руб
              .buttons
                a.btn.js-buy(href='#', data-item='M0000047742') Купить
