include _top
.account-section__head.wrap
  span.account-section__title
    i.icon.icon-heart
    |             ИЗБРАННОЕ
  span.account-section__hint
    | Добавляйте понравившиеся украшения в избранное: так вы не забудете о том, 
    br
    |  что хотели купить, а также сможете поделиться этим списком с друзьями.
.customer-favorites.account-section__body
  .wrap
    .customer-favorites__service
      include ../catalog/line-filter
      include ../item/social
    .customer-favorites__content
      .itemlist.itemlist_favorites
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html') Кольцо- змея, обвивающая палец три раза, инкрустирована фианитами
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html')
                | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html')
                | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html')
                | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html')
                | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html')
                | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html')
                | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html')
                | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html')
                | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html')
                | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
        .item.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
          .item-inner
            .item-preview
              a.icon-x.js-fav-delete(href='#play')
              .item-preview__slider
                .slider-contaniner
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item.jpg', alt='')
                  .slider-item
                    a(href='#')
                      img(src='#{paths.tmpimg}/item2.jpg', alt='')
            .description
              a(href='/item/M0000047742.html')
                | Кольцо от Graziella, модель Geometrie11, желтое золото, эмальжелтое золото, эмаль
            .cost
              span.dec Цена: 
              | 46400.00
              span.rub
                span руб
            .buttons
              a.btn.js-buy(href='#', data-item='3') Купить
    .customer-favorites__service
      include ../catalog/line-filter
