include _top
.account-section__head.wrap
  span.account-section__title
    i.icon.icon-car2
    |         ЗАКАЗЫ
  span.account-section__hint Здесь Вы можете проверить статус своего заказа и посмотреть историю заказов
.customer-orders.account-section__body
  .customer-orders__head
    .order-head__cols.wrap
      .order-head__col.order-head_num
        | номер заказа
      .order-head__col.order-head_date
        | дата заказа
      .order-head__col.order-head_status
        | статус
      .order-head__col.order-head_total
        | СУММА
  .customer-orders__list
    .customer-orders__item
      .order-spoiler.folding
        .folding__title
          .order-head__cols.wrap
            .order-head__col.order-head_num
              span.order-link
                | Заказ №1472
            .order-head__col.order-head_date
              | 24.12.15
            .order-head__col.order-head_status
              | передан курьерской службе
            .order-head__col.order-head_total
              | 137 700
              span.rub
                span руб
        .folding__wrap
          .folding__inner
            .wrap
              .basket_order.basket_account
                .basket-items__list
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__name
                        a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                        span.article Артикул: M0000047748
                      .basket-item__size
                        | 18
                      .basket-item__counter
                        | 1
                      .basket-item__price
                        | 54 700
                        span.rub
                          span руб
                  // item
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__name
                        a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                        span.article Артикул: M0000047748
                      .basket-item__size
                        | 18
                      .basket-item__counter
                        | 1
                      .basket-item__price
                        | 54 700
                        span.rub
                          span руб
                  // item
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__name
                        a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                        span.article Артикул: M0000047748
                      .basket-item__size
                        | 18
                      .basket-item__counter
                        | 1
                      .basket-item__price
                        | 54 700
                        span.rub
                          span руб
                  // item
    // item
    .customer-orders__item
      .order-spoiler.folding
        .folding__title
          .order-head__cols.wrap
            .order-head__col.order-head_num
              span.order-link
                | Заказ №1472
            .order-head__col.order-head_date
              | 24.12.15
            .order-head__col.order-head_status.status_delivered
              | доставлен
            .order-head__col.order-head_total
              | 137 700
              span.rub
                span руб
        .folding__wrap
          .folding__inner
            .wrap
              .basket_order.basket_account
                .basket-items__list
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__name
                        a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                        span.article Артикул: M0000047748
                      .basket-item__size
                        | 18
                      .basket-item__counter
                        | 1
                      .basket-item__price
                        | 54 700
                        span.rub
                          span руб
                  // item
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__name
                        a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                        span.article Артикул: M0000047748
                      .basket-item__size
                        | 18
                      .basket-item__counter
                        | 1
                      .basket-item__price
                        | 54 700
                        span.rub
                          span руб
                  // item
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__name
                        a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                        span.article Артикул: M0000047748
                      .basket-item__size
                        | 18
                      .basket-item__counter
                        | 1
                      .basket-item__price
                        | 54 700
                        span.rub
                          span руб
                  // item
    // item
