.customer__welcome-text Добро пожаловать Елена Компотова в Ваш личный кабинет.
.account-section__head.wrap
  .select-size__wrap.customer-menu
    span.account-section__title
      | ЗАКАЗЫ
      i.icon.icon-car2
    select#item_size.no-styler.select_size(onchange="window.location.href=this.querySelector('option:checked').getAttribute('value')")
      option(value='customer.html')
        | Ваш профиль
      option(value='customer-delivery.html')
        | Адрес доставки
      option(value='customer-orders.html')
        | Заказы
      option(value='customer-favorites.html')
        | Избранное
      option(value='index.html')
        | Выход
.customer-orders.account-section__body
  .customer-orders__list
    .customer-orders__item
      .order-spoiler.folding
        .folding__title
          .order-head__cols.wrap
            .order-head__col.order-head_num
              span.order-link
                | Заказ №1472
            .order-head__col.order-head_date
              | 24.12.15
            .order-head__col.order-head_status
              | передан курьерской службе
        .folding__wrap
          .folding__inner
            .wrap
              .basket_order.basket_account
                .basket-items__list
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__middle
                        .basket-item__name
                          a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                          span.article Артикул: M0000047748
                        .basket-item__counter
                          span.counter__title К-во
                          .good-info
                            | 18
                        .basket-item__size
                          span.select-size__title Размер
                          .good-info
                            | 1
                        .basket-item__price
                          | 54 700
                          span.rub
                            span руб
                  // item
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__middle
                        .basket-item__name
                          a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                          span.article Артикул: M0000047748
                        .basket-item__counter
                          span.counter__title К-во
                          .good-info
                            | 18
                        .basket-item__size
                          span.select-size__title Размер
                          .good-info
                            | 1
                        .basket-item__price
                          | 54 700
                          span.rub
                            span руб
                  // item
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__middle
                        .basket-item__name
                          a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                          span.article Артикул: M0000047748
                        .basket-item__counter
                          span.counter__title К-во
                          .good-info
                            | 18
                        .basket-item__size
                          span.select-size__title Размер
                          .good-info
                            | 1
                        .basket-item__price
                          | 54 700
                          span.rub
                            span руб
                  // item
        .order-spoiler__bottom
          .order-head__col.order-head_total
            span.lbl СУММА:
            |  137 700
            span.rub
              span руб
    // item
    .customer-orders__item
      .order-spoiler.folding
        .folding__title
          .order-head__cols.wrap
            .order-head__col.order-head_num
              span.order-link
                | Заказ №1472
            .order-head__col.order-head_date
              | 24.12.15
            .order-head__col.order-head_status.status_delivered
              | доставлен
        .folding__wrap
          .folding__inner
            .wrap
              .basket_order.basket_account
                .basket-items__list
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__middle
                        .basket-item__name
                          a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                          span.article Артикул: M0000047748
                        .basket-item__counter
                          span.counter__title К-во
                          .good-info
                            | 18
                        .basket-item__size
                          span.select-size__title Размер
                          .good-info
                            | 1
                        .basket-item__price
                          | 54 700
                          span.rub
                            span руб
                  // item
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__middle
                        .basket-item__name
                          a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                          span.article Артикул: M0000047748
                        .basket-item__counter
                          span.counter__title К-во
                          .good-info
                            | 18
                        .basket-item__size
                          span.select-size__title Размер
                          .good-info
                            | 1
                        .basket-item__price
                          | 54 700
                          span.rub
                            span руб
                  // item
                  .basket-item
                    .basket-item__holder
                      .basket-item__img
                        img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                      .basket-item__middle
                        .basket-item__name
                          a.basket-item__link(href='item.html') 1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
                          span.article Артикул: M0000047748
                        .basket-item__counter
                          span.counter__title К-во
                          .good-info
                            | 18
                        .basket-item__size
                          span.select-size__title Размер
                          .good-info
                            | 1
                        .basket-item__price
                          | 54 700
                          span.rub
                            span руб
                  // item
        .order-spoiler__bottom
          .order-head__col.order-head_total
            span.lbl СУММА:
            |  137 700
            span.rub
              span руб
    // item
