include _top.html
<div class="account-section__head wrap">
    <span class="account-section__title">
        <i class="icon icon-car2"></i>
        ЗАКАЗЫ
    </span>
    <span class="account-section__hint">Здесь Вы можете проверить статус своего заказа и посмотреть историю заказов</span>
</div>

<div class="customer-orders account-section__body">
    <div class="customer-orders__head">
        <div class="order-head__cols wrap">
            <div class="order-head__col order-head_num">
                номер заказа
            </div>
            <div class="order-head__col order-head_date">
                дата заказа
            </div>
            <div class="order-head__col order-head_status">
                статус
            </div>
            <div class="order-head__col order-head_total">
                СУММА
            </div>
        </div>
    </div>
    <div class="customer-orders__list">

        <div class="customer-orders__item">
            <div class="order-spoiler folding">
                <div class="folding__title">
                    <div class="order-head__cols  wrap">
                        <div class="order-head__col order-head_num">
                            <span class="order-link">
                                Заказ №1472
                            </span>
                        </div>
                        <div class="order-head__col order-head_date">
                            24.12.15
                        </div>
                        <div class="order-head__col order-head_status">
                            передан курьерской службе
                        </div>
                        <div class="order-head__col order-head_total">
                            137 700<span class="rub"><span>руб</span></span>
                        </div>
                    </div>
                </div>
                <div class="folding__wrap">
                    <div class="folding__inner">
                        <div class="wrap">
                            <div class="basket_order basket_account">
                                <div class="basket-items__list">
                                    <div class="basket-item">
                                        <div class="basket-item__holder">
                                            <div class="basket-item__img">
                                                <img src="#{paths.tmpimg}/pitem-slider.jpg" alt="">
                                            </div>
                                            <div class="basket-item__name">
                                                <a href="item.html" class="basket-item__link">1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA</a>
                                                <span class="article">Артикул: M0000047748</span>
                                            </div>
                                            <div class="basket-item__size">
                                                18
                                            </div>
                                            <div class="basket-item__counter">
                                                1
                                            </div>
                                            <div class="basket-item__price">
                                                54 700<span class="rub"><span>руб</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--item-->
                                    <div class="basket-item">
                                        <div class="basket-item__holder">
                                            <div class="basket-item__img">
                                                <img src="#{paths.tmpimg}/pitem-slider.jpg" alt="">
                                            </div>
                                            <div class="basket-item__name">
                                                <a href="item.html" class="basket-item__link">1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA</a>
                                                <span class="article">Артикул: M0000047748</span>
                                            </div>
                                            <div class="basket-item__size">
                                                18
                                            </div>
                                            <div class="basket-item__counter">
                                                1
                                            </div>
                                            <div class="basket-item__price">
                                                54 700<span class="rub"><span>руб</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--item-->
                                    <div class="basket-item">
                                        <div class="basket-item__holder">
                                            <div class="basket-item__img">
                                                <img src="#{paths.tmpimg}/pitem-slider.jpg" alt="">
                                            </div>
                                            <div class="basket-item__name">
                                                <a href="item.html" class="basket-item__link">1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA</a>
                                                <span class="article">Артикул: M0000047748</span>
                                            </div>
                                            <div class="basket-item__size">
                                                18
                                            </div>
                                            <div class="basket-item__counter">
                                                1
                                            </div>
                                            <div class="basket-item__price">
                                                54 700<span class="rub"><span>руб</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--item-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--item-->

        <div class="customer-orders__item">
            <div class="order-spoiler folding">
                <div class="folding__title">
                    <div class="order-head__cols  wrap">
                        <div class="order-head__col order-head_num">
                            <span class="order-link">
                                Заказ №1472
                            </span>
                        </div>
                        <div class="order-head__col order-head_date">
                            24.12.15
                        </div>
                        <div class="order-head__col order-head_status status_delivered">
                            доставлен
                        </div>
                        <div class="order-head__col order-head_total">
                            137 700<span class="rub"><span>руб</span></span>
                        </div>
                    </div>
                </div>
                <div class="folding__wrap">
                    <div class="folding__inner">
                        <div class="wrap">
                            <div class="basket_order basket_account">
                                <div class="basket-items__list">
                                    <div class="basket-item">
                                        <div class="basket-item__holder">
                                            <div class="basket-item__img">
                                                <img src="#{paths.tmpimg}/pitem-slider.jpg" alt="">
                                            </div>
                                            <div class="basket-item__name">
                                                <a href="item.html" class="basket-item__link">1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA</a>
                                                <span class="article">Артикул: M0000047748</span>
                                            </div>
                                            <div class="basket-item__size">
                                                18
                                            </div>
                                            <div class="basket-item__counter">
                                                1
                                            </div>
                                            <div class="basket-item__price">
                                                54 700<span class="rub"><span>руб</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--item-->
                                    <div class="basket-item">
                                        <div class="basket-item__holder">
                                            <div class="basket-item__img">
                                                <img src="#{paths.tmpimg}/pitem-slider.jpg" alt="">
                                            </div>
                                            <div class="basket-item__name">
                                                <a href="item.html" class="basket-item__link">1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA</a>
                                                <span class="article">Артикул: M0000047748</span>
                                            </div>
                                            <div class="basket-item__size">
                                                18
                                            </div>
                                            <div class="basket-item__counter">
                                                1
                                            </div>
                                            <div class="basket-item__price">
                                                54 700<span class="rub"><span>руб</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--item-->
                                    <div class="basket-item">
                                        <div class="basket-item__holder">
                                            <div class="basket-item__img">
                                                <img src="#{paths.tmpimg}/pitem-slider.jpg" alt="">
                                            </div>
                                            <div class="basket-item__name">
                                                <a href="item.html" class="basket-item__link">1ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA</a>
                                                <span class="article">Артикул: M0000047748</span>
                                            </div>
                                            <div class="basket-item__size">
                                                18
                                            </div>
                                            <div class="basket-item__counter">
                                                1
                                            </div>
                                            <div class="basket-item__price">
                                                54 700<span class="rub"><span>руб</span></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!--item-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--item-->


    </div>
</div>