
.header
    .header-top.wrap
        a.logo(href='#')
            img(src='#{paths.img}/svg/logo.svg', alt='')
        .magazine-info
            .col.magazine-info__address
                a.js-address-popup(href='#')
                    span.magazine-info__title
                        | Москва
                        i.icon.icon-pin
                    .desc Берсеневская набережная д. 6 стр. 1
                .address-info__holder.dropdown_top
                    .address-info
                        .address-info__title.dropdown-fade-to.dropdown__header
                            | ВАШ ГОРОД
                        .dropdown__body
                            script.
                                ymaps.ready(function () {
                                    var $map = $('#address-map');
                                    var map = new ymaps.Map("address-map", {
                                        center: [55.74011678, 37.60888550],
                                        zoom: 15,
                                        controls: ['zoomControl']
                                    });
                                    console.log(map);
                                    var moscowPin = new ymaps.Placemark(map.getCenter(), {
                                        hintContent: 'Fidelis style'
                                    }, {
                                        // Опции.
                                        // Необходимо указать данный тип макета.
                                        iconLayout: 'default#image'
                                    });
                                    map.geoObjects.add(moscowPin);
                                });
                            .address-info__inner
                                .address-info__town
                                    span.magazine-info__title
                                        | Москва
                                        i.icon.icon-pin
                                    .address-info__town-change
                                        a.js-change-town(href='#') Изменить город
                                .address-map__container
                                    #address-map.address-map
                                .address-info__body
                                    .address-time
                                        .address_moscow
                                            span Режим работы шоурума:
                                            |                                             В буднии дни с 9:00 до 19:00
                                            br
                                            i Сб. Вс. - Выходной
                                    //
                                      <div class="address-select">
                                      <select name="" id="address-select">
                                      <option value="moscow">Москва</option>
                                      <option value="moscow">Воронеж</option>
                                      </select>
                                      </div>
                                    .btn-holder
                                        a.btn(href='#') ПОДРОБНЕЕ
                            .town-changer
                                .hint Укажите  город, в котором собираетесь получить товар
                                form.town-changer__form(action='#townChange', data-autocompleteurl='../../source/back/townComplete.html')
                                    .row
                                        label(for='changeTown') Ваш Город
                                        input#changeTown.inputtext(name='town', type='text')
                                        a.btn.btn-submit(href='#')
                                            | СОХРАНИТЬ
                                            input(type='submit', value='')
                                    .town-changer__related-list
                                        a.js-town(href='#') Москва
                                        a.js-town(href='#') Нижний Новгород
                                        a.js-town(href='#') Якутск
            .col.magazine-info__return
                span.magazine-info__title
                    | Удобный возврат
                    i.icon.icon-wallet
                .desc если украшение не подошло
            // не в регионах доставки
            .col.magazine-info__shipment(style='display: none;')
                a.js-shipment-info(href='#')
                    span.magazine-info__title
                        | Доставка
                        i.icon.icon-car2
                    .desc Ежедневно с 10:00 до 22:00
                .shipment-info__holder.dropdown_top
                    .shipment-info
                        .shipment-info__title.dropdown-fade-to.dropdown__header
                            | ДОСТАВКА
                        .shipment-info__body.dropdown__body
                            .type-list
                                .type-list__item
                                    span.type-title
                                        span.place ПО МОСКВЕ
                                        |  (ежедневно с 10:00 до 22:00):
                                    .line
                                        span.name Курьером
                                        span.price
                                            | 300
                                            span.rub
                                                span руб
                                    .line.line-bonus
                                        span.name
                                            | При заказе свыше 2 500
                                            span.rub
                                                span руб
                                        span.price БЕСПЛАТНО
                                .type-list__item
                                    span.type-title
                                        span.place по России:
                                    .line
                                        span.name Почта России
                                        span.price
                                            | 650
                                            span.rub
                                                span руб
                                    .line
                                        span.name СПСР Экспресс
                                        span.price
                                            | 650
                                            span.rub
                                                span руб
                                    .line.line-bonus
                                        span.name
                                            | При заказе свыше 10 000
                                            span.rub
                                                span руб
                                        span.price БЕСПЛАТНО
                            a.btn(href='') Подробнее
            .col.magazine-info__selfshipment
                span.magazine-info__title
                    | Самовывоз
                    i.icon.icon-clock
                .desc в будние дни с 9:00 до 19:00
            .col.magazine-info__call
                a.js-call(href='#')
                    span.magazine-info__title
                        | +7 (495) 255 11 08
                        i.icon.icon-phone
                    .desc +7  (800) 255 11 08 Бесплатно
                .call-info__holder.dropdown_top
                    .call-info
                        .call-info__title.dropdown-fade-to.dropdown__header
                            | КОЛЛ-ЦЕНТР
                        .call-info__body.dropdown__body
                            form.call-form(action='')
                                span.call-form__title ОБРАТНЫЙ ЗВОНОК
                                .row
                                    label(for='call-i-name') Ваше имя
                                    input#call-i-name.inputtext(name='name', type='text')
                                .row
                                    label(for='call-i-phone') Телефон
                                    input#call-i-phone.inputtext.phone-mask(name='name', type='text')
                                .call-info__info Колл-центр работает ежедневно с 9:00 до 22:00
                                .btn-holder
                                    a.btn.btn-submit(href='#')
                                        | ПЕРЕЗВОНИТЕ МНЕ
                                        input.submit(type='submit', value='')
    .header-menu
        .wrap
            ul.main-menu
                li.main-menu__item
                    a.main-menu__link(href='#')
                        | НОВИНКИ
                li.main-menu__item.hasSubmenu
                    a.main-menu__link(href='#')
                        | ИЗДЕЛИЯ
                    .main-menu__collection.main-menu__collection_goods
                        .collection__inner.wrap
                            .goods__list
                                a.goods__item(href='#')
                                    span АКССЕСУАРЫ
                                a.goods__item(href='#')
                                    span БРАСЛЕТЫ
                                a.goods__item(href='#')
                                    span БРОШИ
                                a.goods__item(href='#')
                                    span БУСЫ
                                a.goods__item(href='#')
                                    span КОЛЬЕ
                                a.goods__item(href='#')
                                    span КОЛЬЦА
                                a.goods__item(href='#')
                                    span ПОДВЕСКИ
                                a.goods__item(href='#')
                                    span СЕРЬГИ
                                a.goods__item(href='#')
                                    span ЦЕПИ
                            .goods-category
                                .goods-category__title Категории
                                .goods-category__items
                                    .goods-category__items-list
                                        .goods-category__col
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с гранатом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с александритом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги из агата
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c топазом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c жемчугом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c кварцем
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с аметистом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с рубином
                                        .goods-category__col
                                            a.goods-category__item(href='#') Серьги с кристаллами Swarovski
                                            a.goods-category__item(href='#') Серьги с фианитами
                                            a.goods-category__item(href='#') Серьги с перламутром
                                            a.goods-category__item(href='#') Cерьги каффы
                                            a.goods-category__item(href='#') Серьги конго
                                    // category-list
                                    .goods-category__items-list
                                        .goods-category__col
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с гранатом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с александритом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги из агата
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c топазом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c жемчугом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c кварцем
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с аметистом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с рубином
                                    // category-list
                                    .goods-category__items-list
                                        .goods-category__col
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с гранатом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с александритом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги из агата
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c топазом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c жемчугом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c кварцем
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с аметистом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с рубином
                                        .goods-category__col
                                            a.goods-category__item(href='#') Серьги с кристаллами Swarovski
                                            a.goods-category__item(href='#') Серьги с фианитами
                                            a.goods-category__item(href='#') Серьги с перламутром
                                            a.goods-category__item(href='#') Cерьги каффы
                                            a.goods-category__item(href='#') Серьги конго
                                    // category-list
                                    .goods-category__items-list
                                        .goods-category__col
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с гранатом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с александритом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги из агата
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c топазом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c жемчугом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c кварцем
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с аметистом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с рубином
                                    // category-list
                                    .goods-category__items-list
                                        .goods-category__col
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с гранатом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с александритом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги из агата
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c топазом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c жемчугом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги c кварцем
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с аметистом
                                            a.goods-category__item(data-img='#{paths.tmpimg}/goods-item.jpg', href='#') Серьги с рубином
                            .collection__preview
                                // <img src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/goods-item.jpg" alt=""/>
                li.main-menu__item.hasSubmenu
                    a.main-menu__link(href='#')
                        | КОЛЛЕКЦИИ
                    .main-menu__collection.main-menu__collection_asis
                        .collection__inner.wrap
                            .collection__list
                                .col
                                    .collection__item
                                        a.collection__link(data-img='#{paths.tmpimg}/item.jpg', href='#') Silver Design (Breuning)
                                    .collection__item
                                        a.collection__link(data-img='#{paths.tmpimg}/item2.jpg', href='#') Silver Diamond  (Breuning)
                                    .collection__item
                                        a.collection__link(data-img='#{paths.tmpimg}/item.jpg', href='#') Silver Colors  (Breuning)
                                    .collection__item
                                        a.collection__link(data-img='#{paths.tmpimg}/menu-collection.jpg', href='#') Fashion (Graziella)
                                    .collection__item
                                        a.collection__link(href='#') Chic (Graziella)
                                    .collection__item
                                        a.collection__link(href='#') Classic (Graziella)
                                    .collection__item
                                        a.collection__link(href='#') Базовая
                                    .collection__item
                                        a.collection__link(href='#') ГлиттерингГГлиттерингГ литтеринг
                                    .collection__item
                                        a.collection__link(href='#') Жемчужная
                                .col
                                    .collection__item
                                        a.collection__link(href='#') Silver Design (Breuning)
                                    .collection__item
                                        a.collection__link(href='#') Silver Diamond  (Breuning)
                                    .collection__item
                                        a.collection__link(href='#') Silver Colors  (Breuning)
                                    .collection__item
                                        a.collection__link(href='#') Fashion (Graziella)
                                    .collection__item
                                        a.collection__link(href='#') Chic (Graziella)
                                    .collection__item
                                        a.collection__link(href='#') Classic (Graziella)
                                    .collection__item
                                        a.collection__link(href='#') Базовая
                                    .collection__item
                                        a.collection__link(href='#') Глиттеринг
                                    .collection__item
                                        a.collection__link(href='#') Жемчужная
                                .col
                                    .collection__item
                                        a.collection__link(href='#') Classic (Graziella)
                                    .collection__item
                                        a.collection__link(href='#') Базовая
                                    .collection__item
                                        a.collection__link(href='#') Глиттеринг
                                    .collection__item
                                        a.collection__link(href='#') Жемчужная
                            .collection__preview
                                // <img src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/menu-collection.jpg" alt=""/>
                li.main-menu__item.hasSubmenu
                    a.main-menu__link(href='#')
                        | СТИЛИ
                    .main-menu__collection.main-menu__collection_style(data-url='../../source/back/style-text.html')
                        .collection__inner.wrap
                            .goods__list
                                a.goods__item(href='#', data-id='1')
                                    span ВЕЧЕРНИЙ
                                a.goods__item(href='#', data-id='2')
                                    span ДЕЛОВОЙ
                                a.goods__item(href='#', data-id='3')
                                    span КЛАССИЧЕСКИЙ
                                a.goods__item(href='#', data-id='4')
                                    span ПОВСЕДНЕВНЫЙ
                                a.goods__item(href='#', data-id='5')
                                    span ОРИГИНАЛЬНЫЙ
                                a.goods__item(href='#', data-id='6')
                                    span ПРАЗДНИЧНЫЙ
                                a.goods__item(href='#', data-id='7')
                                    span РОМАНТИЧЕСКИЙ
                                a.goods__item(href='#', data-id='8')
                                    span УЛЬТРАМОДНЫЙ
                                a.goods__item(href='#', data-id='9')
                                    span СПОРТИВНЫЙ
                            .goods-category
                                .styles-list
                li.main-menu__item.hasSubmenu
                    a.main-menu__link(href='#')
                        | БРЕНДЫ
                    .main-menu__collection.main-menu__brand.main-menu__collection_brand(data-url='../../source/back/style-text.html?111')
                        .collection__inner.wrap
                            .goods__list
                                a.goods__item(href='#', data-id='1')
                                    span ВЕЧЕРНИЙ
                                a.goods__item(href='#', data-id='2')
                                    span ДЕЛОВОЙ
                                a.goods__item(href='#', data-id='3')
                                    span КЛАССИЧЕСКИЙ
                                a.goods__item(href='#', data-id='4')
                                    span ПОВСЕДНЕВНЫЙ
                                a.goods__item(href='#', data-id='5')
                                    span ОРИГИНАЛЬНЫЙ
                                a.goods__item(href='#', data-id='6')
                                    span ПРАЗДНИЧНЫЙ
                                a.goods__item(href='#', data-id='7')
                                    span РОМАНТИЧЕСКИЙ
                                a.goods__item(href='#', data-id='8')
                                    span УЛЬТРАМОДНЫЙ
                                a.goods__item(href='#', data-id='9')
                                    span СПОРТИВНЫЙ
                            .goods-category
                                .styles-list
                li.main-menu__item.main-menu__item-sale
                    a.main-menu__link(href='#')
                        | SALE
                li.main-menu__item
                    a.main-menu__link(href='#')
                        | О КОМПАНИИ
                li.main-menu__item
                    a.main-menu__link(href='#')
                        | КОНТАКТЫ
            .basket.basket-top
                .basket-top__items
                    a.js-basket-open(href='#')
                        span.basket-top__icon.icon-basket
                            span.count
                        span.basket-top__info
                            | Корзина
                    .basket-items__holder.dropdown-holder.dropdown_top
                        .basket-items
                            .basket-items__body.dropdown-fade-to
                                .basket-empty
                                    h2 Корзина пуста
                                .nano-scroll
                                    .basket-items__list.nano-content
                                        //
                                          <div class="basket-item">
                                          <div class="basket-item__holder">
                                          <div class="basket-item__img">
                                          <img src="&lt;!&ndash;#echo var="assets-path"&ndash;&gt;/basket-item.jpg" alt=""/>
                                          </div>
                                          <div class="basket-item__name">
                                          Фаланговое кольцо из серебра с фианитами в форме короны
                                          </div>
                                          <div class="basket-item__price">
                                          19 100Р
                                          </div>
                                          <div class="basket-item__service">
                                          <a class="basket-item__delete icon-close">
                                          </a>
                                          </div>
                                          </div>
                                          </div>
                                .basket-items__bottom
                                    .btn-holder
                                        a.btn.btn_black(href='basket.html') перейти в корзину
                                    .basket__total
                                        .total__summ
                                            span.lbl Сумма заказа:
                                            span.summ
                                            span.rub
                                                span руб
            .service-link__holder.service-link_favorites
                a.service-link(href='customer-favorites.html')
                    span.icon.icon-heart
                    span.service-count
                        | 26
                    span.service-lbl
                        | Избранное
            .service-link__holder.service-link_account.not-logged
                a.service-link.js-login-open(href='')
                    span.icon.icon-customer
                    span.service-lbl
                        | Василий
                a.account-exit.icon.icon-x(href='#exit')
                // login
                .login-dropdown__holder.dropdown_top
                    .login-dropdown
                        .login__body.dropdown__body
                            form.login-form(action='customer.html')
                                // #include virtual="$includespath/layouts/row_input.html?id=login-email&type=email&label=E-mail"
                                // #include virtual="$includespath/layouts/row_input.html?id=login-pass&label=Пароль"
                                .login-form__bottom
                                    .add-links
                                        a(href='customer-registration.html') Регистрация
                                        a(href='#') Забыли пароль?
                                    a.btn.btn-submit.btn_black(href='#')
                                        | Вход
                                        input(type='submit', value='')
                            .login-social
                                span.login-social__lbl Или войти через:
                                .social-dark
                                    a.icon.icon-fb(href='#')
                                    a.icon.icon-vk(href='#')
                                    a.icon.icon-tw(href='#')
                                    a.icon.icon-ok(href='#')
                                    a.icon.icon-gplus(href='#')
