.content.wrap
  .pitem(itemscope='', itemtype='http://schema.org/Product')
    .container
      .pitem-preview
        .pitem-slider.pitem-slider_side
          .slider-container
            .slider-item
              a.pitem-slider__link(data-img='#{paths.tmpimg}/pitem.jpg', data-zoom='#{paths.tmpimg}/pitem-big.jpg', href='')
                img(itemprop='image', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
            .slider-item
              a.pitem-slider__link(data-img='#{paths.tmpimg}/pitem.jpg', data-zoom='#{paths.tmpimg}/pitem-big.jpg', href='')
                img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
            .slider-item
              a.pitem-slider__link(data-img='#{paths.tmpimg}/pitem.jpg', data-zoom='#{paths.tmpimg}/pitem-big.jpg', href='')
                img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
            .slider-item
              a.pitem-slider__link.link_video(href='')
                img(src='#{paths.tmpimg}/pitem-video.jpg', alt='')
        .pitem-preview-main.pitem-preview-main_side
          .pitem-preview-main__loader
          .pitem-preview-main__video
            video(loop='loop', preload='metadata')
              source(src='http://cdn.names.ru/upload/video_1c/v032504.webm', type='video/webm')
              source(src='http://cdn.names.ru/upload/video_1c/v032504.mp4', type='video/mp4')
          .pitem-preview-main__fullscreen
            a.pitem-preview-main__fullscreen-link(href='#')
              | Открыть на весь экран
            a.favorite-link.icon(href='javascript:void(0)', onclick="$(this).toggleClass('added')")
              span Добавить товар в избранное
      // -item-gallery
      .pitem-specs.js-item-data(data-item="{id: 700,sizes: [{17.00: '2 300'},{17.50: '2 300'}]}")
        h1(itemprop='name') ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
        .pitem-specs__about
          .about-item
            | Тип зделия: 
            span.tooltip(title='Колечко') Кольцо
          .about-item
            | Артикул: M0000047748
          .about-item
            | Бренд:  
            span.tooltip(title='Колечко', itemprop='brand') Graziella
        .pitem-specs__spoilers
          .spoiler-item.folding
            .folding__title
              a(href='#')
                | Описание
            .folding__wrap
              .folding__inner
                .nano-scroll
                  .nano-content
                    .description(itemprop='description')
                      | Мужской браслет, добавляющий обладателю брутального «варварства», состоящий из
                      | тонких кожаных шнуров, соединенных между собой, украшенный разнообразными кольцами из искусственно
                      | состаренного серебра, с жемчугом, и аметистом круглой огранки.
          .spoiler-item.folding
            .folding__title
              a(href='#')
                | Детали
            .folding__wrap
              .folding__inner
                .nano-scroll
                  .nano-content
                    | Тип металла: Золото 
                    br
                    |                                         Проба: 585
                    br
                    |                                         Минимальный вес: 8,72 г
                    br
                    |                                         Покрытие: 
                    span.tooltip(title='Нанесение тонкого слоя родия на поверхность изделия из металла, для его защиты от повреждений и потемнения, придания ему более яркого блеска и определенного цвета.Холодный белый блеск родия хорошо сочетается с бриллиантами, фианитами и другими вставками.') Родирование
                    | , Позолота, Рутенирование 
                    br
                    |                                         Вставка: 
                    span.tooltip(title='Колечко') Аметист
                    | , 
                    span.tooltip(title='Колечко') Топаз
                    | , 
                    span.tooltip(title='Колечко') Турмалин
                    br
                    |                                         Коллекция: Fashion (Graziella)
                    br
                    |                                         Стиль: Романтический, Праздничный
                    |                                         Тип металла: Золото 
                    br
                    |                                         Проба: 585
                    br
                    |                                         Минимальный вес: 8,72 г
                    br
                    |                                         Покрытие: Родирование, Позолота, Рутенирование 
                    br
                    |                                         Вставка: 
                    span.tooltip(title='Колечко') Аметист
                    | , 
                    span.tooltip(title='Колечко') Топаз
                    | , 
                    span.tooltip(title='Колечко') Турмалин
                    br
                    |                                         Коллекция: Fashion (Graziella)
                    br
                    |                                         Стиль: Романтический, Праздничный
          .spoiler-item.folding.spoiler_complect
            .folding__title
              a(href='#')
                | Комплект к этому изделию
            .folding__wrap
              .folding__inner
                .complect-slider
                  .slider-container
                    .slider-item
                      a.complect-slider__link(href='')
                        img(width='106', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                        span.price
                          | цена: 96 400
                          span.rub
                            span руб
                    .slider-item
                      a.complect-slider__link(href='')
                        img(width='106', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                        span.price
                          | цена: 96 400
                          span.rub
                            span руб
                    .slider-item
                      a.complect-slider__link(href='')
                        img(width='106', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                        span.price
                          | цена: 96 400
                          span.rub
                            span руб
                    .slider-item
                      a.complect-slider__link(href='')
                        img(width='106', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                        span.price
                          | цена: 96 400
                          span.rub
                            span руб
                    .slider-item
                      a.complect-slider__link(href='')
                        img(width='106', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                        span.price
                          | цена: 96 400
                          span.rub
                            span руб
        .line-price
          .pitem-cost
            .old-cost
              span.dec старая цена: 
              | 4 220
              span.rub
                span руб
            .cost(itemprop='offers', itemscope='', itemtype='http://schema.org/Offer')
              meta(itemprop='price', content='42200.00')
              meta(itemprop='priceCurrency', content='RUB')
              span.dec цена: 
              span.count 4 200
              span.rub
                span руб
              link(itemprop='availability', href='http://schema.org/InStock')
              //
                Discontinued
                InStock
                InStoreOnly
                LimitedAvailability
                OnlineOnly
                OutOfStock
                PreOrder
                SoldOut - цена не указывается
          .pitem-shipment
            span.tooltip.shipment-title бесплатно доставим  по России 
            i.icon.icon-car2
        .line-size
          .pitem-size
            .select-size__wrap
              select#item_size.no-styler.select_size
          a.pitem-size__help(href='#') Как определить свой размер
        .pitem-order
          a.btn.js-quick-order(href='#') БЫСТРЫЙ ЗАКАЗ
          a.btn.btn_black.js-buy(href='#') КУПИТЬ
          .quick-order
            a.close.icon-close(href='javascript:void(0)')
            .quick-order__inner
              span.title
                | БЫСТРЫЙ ЗАКАЗ
                i.icon
              .desc
                | Заполните форму и мы с Вами свяжемся для оформления заказа в самое ближайшее время
              form.quick-order__form(action='/')
                .row
                  label(for='qo-name') Ваше имя:
                  input#qo-name.inputtext(type='text', name='name')
                .row
                  label(for='qo-phone') Ваш телефон:
                  input#qo-phone.inputtext(type='text', name='phone')
                span.btn.btn_black.btn-submit
                  | Заказать
                  input(type='submit')
                .send-error
        |                 include social.html
      // -item-info
      .pitem-fullscreen
        .pitem-fullscreen__holder.wrap
          a.close.icon-close(href='#')
          .pitem-fullscreen__inner
            .pitem-slider.pitem-slider_full
              .slider-container
                .slider-item
                  a.pitem-slider__link(data-img='#{paths.tmpimg}/pitem-big.jpg', href='')
                    img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                .slider-item
                  a.pitem-slider__link.active(data-img='#{paths.tmpimg}/pitem-big.jpg', href='')
                    img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                .slider-item
                  a.pitem-slider__link(data-img='#{paths.tmpimg}/pitem-big.jpg', href='')
                    img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                .slider-item
                  a.pitem-slider__link.link_video(data-img='#{paths.tmpimg}/pitem-big.jpg', href='')
                    img(src='#{paths.tmpimg}/pitem-video.jpg', alt='')
                .slider-item
                  a.pitem-slider__link(data-img='#{paths.tmpimg}/pitem-big.jpg', href='')
                    img(src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
            .pitem-preview-main.pitem-preview-main_full
              .pitem-preview-main__loader
              .pitem-preview-main__video
                video(loop='loop', preload='metadata')
                  source(src='http://cdn.names.ru/upload/video_1c/v032504.webm', type='video/webm')
                  source(src='http://cdn.names.ru/upload/video_1c/v032504.mp4', type='video/mp4')
      // FULLSCREEN
.catdes.catdes_pitem
  .title
    .wrap ВАМ МОЖЕТ ПОНРАВИТЬСЯ
  .wrap
    .catdes-slider
      .slider-container
        .slider-item
          a(href='#fsizes')
            span.img(style='background-image: url(#{paths.tmpimg}/item-also2.jpg)')
            span.name Кольцо Graziella, модель Rose, позолоченное серебро, белая эмаль
            span.price
              | цена: 13 700
              span.rub
                span руб
        .slider-item
          a(href='#fsizes')
            span.img(style='background-image: url(#{paths.tmpimg}/item-also2.jpg)')
            span.name Кольцо Graziella, модель Rose, позолоченное серебро, белая эмаль
            span.price
              | цена: 13 700
              span.rub
                span руб
        .slider-item
          a(href='#fsizes')
            span.img(style='background-image: url(#{paths.tmpimg}/item-also2.jpg)')
            span.name Кольцо Graziella, модель Rose, позолоченное серебро, белая эмаль
            span.price
              | цена: 13 700
              span.rub
                span руб
        .slider-item
          a(href='#fsizes')
            span.img(style='background-image: url(#{paths.tmpimg}/item-also2.jpg)')
            span.name Кольцо Graziella, модель Rose, позолоченное серебро, белая эмаль
            span.price
              | цена: 13 700
              span.rub
                span руб
        .slider-item
          a(href='#fsizes')
            span.img(style='background-image: url(#{paths.tmpimg}/item-also2.jpg)')
            span.name Кольцо Graziella, модель Rose, позолоченное серебро, белая эмаль
            span.price
              | цена: 13 700
              span.rub
                span руб
        .slider-item
          a(href='#fsizes')
            span.img(style='background-image: url(#{paths.tmpimg}/item-also2.jpg)')
            span.name Кольцо Graziella, модель Rose, позолоченное серебро, белая эмаль
            span.price
              | цена: 13 700
              span.rub
                span руб
        .slider-item
          a(href='#fsizes')
            span.img(style='background-image: url(#{paths.tmpimg}/item-also2.jpg)')
            span.name Кольцо Graziella, модель Rose, позолоченное серебро, белая эмаль
            span.price
              | цена: 13 700
              span.rub
                span руб
