.content.wrap
  .pitem(itemscope='', itemtype='http://schema.org/Product')
    .container
      h1(itemprop='name') ЗОЛОТОЕ КОЛЬЦО С ГРАФИТОВОЙ ЭМАЛЬЮ ROSA ОТ КОМПАНИИ GRAZIELLA
      .pitem-preview
        .pitem-slider.pitem-slider_full
          .slider-container
            .slider-item
              img(itemprop='image', src='#{paths.tmpimg}/pitem-big.jpg', alt='')
            .slider-item
              img(src='#{paths.tmpimg}/pitem-big.jpg', alt='')
            .slider-item
              img(src='#{paths.tmpimg}/pitem-big.jpg', alt='')
            .slider-item
              img(src='#{paths.tmpimg}/pitem-big.jpg', alt='')
        a.favorite-link.icon(href='javascript:void(0)', onclick="$(this).toggleClass('added')")
          span Добавить товар в избранное
      // -item-gallery
      .pitem-specs.js-item-data(data-item='{id: 1231,sizes: [{26: 22000},{27: 33333}]}')
        .pitem-specs__about
          .about-item
            | Тип зделия: Кольцо
          .about-item
            | Бренд:  
            span(itemprop='brand') Graziella
          .about-item
            | Артикул: M0000047748
          .about-item
            | Страна изготовитель: Италия
        .line-price
          .pitem-cost
            .old-cost
              span.dec старая цена: 
              | 52 220
              span.rub
                span руб
            .cost(itemprop='offers', itemscope='', itemtype='http://schema.org/Offer')
              meta(itemprop='price', content='42200.00')
              meta(itemprop='priceCurrency', content='RUB')
              span.dec цена: 
              span.count 42 200
              span.rub
                span руб
              link(itemprop='availability', href='http://schema.org/InStock')
              //
                Discontinued
                InStock
                InStoreOnly
                LimitedAvailability
                OnlineOnly
                OutOfStock
                PreOrder
                SoldOut - цена не указывается
          .pitem-shipment
            span.tooltip.shipment-title Бесплатно доставим по всей России
            i.icon.icon-car2
        .line-size
          .pitem-size
            .select-size__wrap
              select#item_size.no-styler.select_size
                option(value='') Размер
                option(value='26') 26
                option(value='27') 27
          span.tooltip.pitem-size__help Как определить свой размер
        .pitem-order
          a.btn.btn_black.js-buy(href='#') КУПИТЬ
          a.btn.js-quick-order(href='#') БЫСТРЫЙ ЗАКАЗ
          .quick-order
            a.close.icon-close(href='javascript:void(0)')
            .quick-order__inner
              span.title
                | БЫСТРЫЙ ЗАКАЗ
                i.icon
              .desc
                | Заполните форму и мы с Вами свяжемся для оформления заказа в самое ближайшее время
              form.quick-order__form(action='/')
                .row
                  label(for='qo-name') Ваше имя:
                  input#qo-name.inputtext(type='text', name='name')
                .row
                  label(for='qo-phone') Ваш телефон:
                  input#qo-phone.inputtext(type='text', name='phone')
                span.btn.btn_black.btn-submit
                  | Заказать
                  input(type='submit')
                .send-error
        .pitem-specs__spoilers
          .spoiler-item.folding
            .folding__title
              a(href='#')
                | Описание
            .folding__wrap
              .folding__inner
                .nano-scroll
                  .nano-content
                    .description(itemprop='description')
                      | Мужской браслет, добавляющий обладателю брутального «варварства», состоящий из
                      | тонких кожаных шнуров, соединенных между собой, украшенный разнообразными кольцами из искусственно
                      | состаренного серебра, с жемчугом, и аметистом круглой огранки.
          .spoiler-item.folding
            .folding__title
              a(href='#')
                | Детали
            .folding__wrap
              .folding__inner
                .nano-scroll
                  .nano-content
                    | Тип металла: Золото 
                    br
                    |                                         Проба: 585
                    br
                    |                                         Минимальный вес: 8,72 г
                    br
                    |                                         Покрытие: 
                    span.tooltip(title='Нанесение тонкого слоя родия на поверхность изделия из металла, для его защиты от повреждений и потемнения, придания ему более яркого блеска и определенного цвета.Холодный белый блеск родия хорошо сочетается с бриллиантами, фианитами и другими вставками.') Родирование
                    | , Позолота, Рутенирование 
                    br
                    |                                         Вставка: 
                    span.tooltip(title='Колечко') Аметист
                    | , 
                    span.tooltip(title='Колечко') Топаз
                    | , 
                    span.tooltip(title='Колечко') Турмалин
                    br
                    |                                         Коллекция: Fashion (Graziella)
                    br
                    |                                         Стиль: Романтический, Праздничный
                    |                                         Тип металла: Золото 
                    br
                    |                                         Проба: 585
                    br
                    |                                         Минимальный вес: 8,72 г
                    br
                    |                                         Покрытие: Родирование, Позолота, Рутенирование 
                    br
                    |                                         Вставка: 
                    span.tooltip(title='Колечко') Аметист
                    | , 
                    span.tooltip(title='Колечко') Топаз
                    | , 
                    span.tooltip(title='Колечко') Турмалин
                    br
                    |                                         Коллекция: Fashion (Graziella)
                    br
                    |                                         Стиль: Романтический, Праздничный
          .spoiler-item.folding.spoiler_complect
            .folding__title
              a(href='#')
                | Комплект к этому изделию
            .folding__wrap
              .folding__inner
                .complect-slider
                  .slider-container
                    .slider-item
                      a.complect-slider__link(href='')
                        img(width='106', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                        span.price
                          | цена: 96 400
                          span.rub
                            span руб
                    .slider-item
                      a.complect-slider__link(href='')
                        img(width='106', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                        span.price
                          | цена: 96 400
                          span.rub
                            span руб
                    .slider-item
                      a.complect-slider__link(href='')
                        img(width='106', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                        span.price
                          | цена: 96 400
                          span.rub
                            span руб
                    .slider-item
                      a.complect-slider__link(href='')
                        img(width='106', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                        span.price
                          | цена: 96 400
                          span.rub
                            span руб
                    .slider-item
                      a.complect-slider__link(href='')
                        img(width='106', src='#{paths.tmpimg}/pitem-slider.jpg', alt='')
                        span.price
                          | цена: 96 400
                          span.rub
                            span руб
        include social
      // -item-info
