include ../includes/vars
- var device = '__m'
- var page = 'catalog'
- var pageTitle = 'Grazzela'

doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= pageTitle
    script(type='text/javascript', src='#{paths.js}/mobile.js')
    link(rel="stylesheet", href='#{paths.css}/jquery-ui-1.10.3.custom.css')
    link(rel="stylesheet", href='#{paths.css}/mobile.css')
    meta(name="HandheldFriendly", content="True")
    meta(name="MobileOptimized", content="480")
    meta(id="Viewport", name="viewport", width="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    include ../includes/_head
  body
    .main
      include ../includes/layouts/header__m
      include ../includes/layouts/content-info
      include ../includes/catalog/primary__m
      include ../includes/layouts/footer__m
    include ../includes/_body
