include ../includes/vars
- var device = '__m'

doctype html
html(lang="en")
  head
    meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    title= pageTitle
    link(rel="stylesheet", href='#{paths.css}/mobile.css')
    meta(id="Viewport", name="viewport", width="initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no")
    include ../includes/_head.jade
  body
    .main
      include ../includes/layouts/header__m
      include ../includes/layouts/content-info
      include ../includes/item/primary__m
      include ../includes/layouts/footer__m
    include ../includes/_body

    script(type='text/javascript', src='#{paths.js}/mobile.js')
    script(type='text/javascript', src='#{paths.js}/item.js')
